.table-content{
    font-size: 0.9em;
    margin: 25px 0;
    border: 2px solid #000;
    border-radius: 5px;
}

.table-content th,
.table-content td {
    padding: 5px 7px; 
}


.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /*min-width: 400px;*/
}

.content-table thead tr {
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table th,
.content-table td {
    padding: 7px 9px;  
}


body{
    font-family: Verdana, Tahoma, sans-serif;
}

.btnsave{
    margin-left: 350%;
}

td{
    text-align: center;
    margin: 5%;
}

table{
    white-space: nowrap;
}

agm-map{
    height: 380%;
    width: 100%;
}


#grades{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

#divCenter{
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
